.MainSection {
  overflow-y: auto;
  padding: 0 80px 80px;
  position: fixed;
    bottom: 0;
    left: 300px;
    right: 0;
    top: 0;
}

.MainSection .Docs .Code {
  margin: 0 -80px;
}

.MainSection .Docs .Code .CodeBlock {
  display: block;
  margin: 0 40px;
}

.MainSection .Docs .Code .LanguageToggler {
  padding-right: 80px;
}

@media only screen and (max-device-width: 700px) {
  .MainSection {
    padding: 50px 0 0;
    position: static;
      left: 0;
  }

  .MainSection > * {
    padding: 0 20px;
  }
}