.SplashNav {
  padding: 50px;
}

.SplashNav li {
  display: inline;
  list-style: none;
}

.SplashNav a {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  padding: 20px;
  transition: border-color .1s ease-in-out;
}

.SplashNav a:hover {
  border-color: #313840;
}

.SplashNav a .Icon {
  margin-bottom: -10px;
  padding-right: 5px;
}