.Code {
  background: #f9f9f9;
  padding: 40px;
  position: relative;
}

.Code .Filename {
  color: #8f949c;
  padding: 10px 20px;
  position: absolute;
    right: 0;
    top: 0;
}

.Code .Filename a {
  background: #998;
  border-radius: 4px;
  color: #fdfdf6;
  margin: -3px -2px -3px 7px;
  padding: 3px 2px 3px 6px;
  text-decoration: none;
}

.Code .Filename a:hover {
  background: #888879;
}

.Code .Filename svg {
  height: 20px;
  margin-bottom: -2px;
}

.Code .CodeBlock code,
.Code .CodeBlock input {
  background: transparent;
  font: 18px/26px 'Fira Code', Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
  white-space: pre;
  -webkit-appearance: none;
}

.Code .Missing {
  color: #b0b7c1;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.Code .MissingSub a {
  color: #d5dbe4;
  display: block;
  font-size: 24px;
  font-weight: 200;
  line-height: 64px;
  text-align: center;
  text-decoration: none;
}
