.PageHeading {
  font-size: 36px;
  margin-left: 49px;
  position: relative;
}

.PageHeading a {
  color: #313840;
  display: block;
  text-decoration: none;
}

@media only screen and (max-device-width: 700px) {
  .PageHeading {
    margin-left: 20px;
  }
}