@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/FiraCode-Regular-webfont.woff') format('woff');
}

* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

.App {
  color: #313840;
  font: 18px/30px Roboto, Helvetica, Arial, sans-serif;
  /* font: 13px/21px 'Fira Code', Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace; */
}
