.Header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.Header .Logo {
  flex: 1;
  width: 400px;
}

.Header h2 {
  color: #666;
  font-size: 26px;
  font-weight: 400;
  line-height: 80px;
}
/*
.Header h2 {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
	-webkit-background-size: 200px;
	color: rgba(255, 255, 255, 0.3);
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}
*/