.SectionHeading {
  font-size: 36px;
  position: relative;
}

.SectionHeading a {
  color: #313840;
  display: block;
  text-decoration: none;
}

.SectionHeading:hover:before {
  color: #c6c9ce;
  content: '#';
  font-weight: 100;
  padding-right: 10px;
  position: absolute;
    right: 100%;
}